@import 'react-responsive-carousel/lib/styles/carousel.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  --primary-dark: #6d2b3d;
  --primary-light: white;
}

@layer base {
  html {
    @apply scroll-smooth
  }
  body{
    @apply font-[Sans-serif];
  }
  .glassy-bg {
    background-image: linear-gradient(to right, rgba(109, 43, 61, 0.7), rgba(250, 250, 250, 0.96));
  }

  li {
    @apply p-4 text-sm
  }
  button {
    @apply px-4 py-2 border bg-white text-black font-bold rounded-md shadow-lg
  }
  h2 {
    @apply text-xl font-bold
  }
}

.relative:hover .hidden {
  display: block;
}
