body {
  margin: 50px;;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navBar {

  display: flex;
  justify-content: right;
  margin-bottom: 50px;
  background: bisque;
  height: 100px;
  

}

.productCard img {

  width: 285px;
  height:300px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding: 15px;
  margin: 20px;
  object-fit: cover;

}

.productCard h3, h4 {

  justify-self: center;
  color: black;
  text-align: center;
}

.productList{

  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  justify-content: center;


}

.featProduct{

  display: flex;
  overflow-x: auto;
  white-space: nowrap; 



}


.featProductImg {
  margin-right: 10px;
}

.featProductImg img {
  max-width: 100%;
  height: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
